.fullpizza {
	max-width: 1200px;
	margin: 0 auto;
	padding: 40px;
	font-family: "Arial", sans-serif;
	background-color: #ffffff;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.487);
	text-align: center;

	&__title {
		font-size: 2.5rem;
		color: #333;
		margin-bottom: 20px;
	}

	img {
		display: block;
		max-width: 100%;
        width: 500px;
		height: auto;
		margin:  auto ;
		border-radius: 10px;
        transition: transform 0.3s ease;

        &:hover {
            transform: scale(1.02);
        }
	}

	.description {
		font-size: 25px;
		color: #555;
		line-height: 1.5;
		margin-bottom: 20px;
		padding: 0 20px;
	}

	.price {
		font-size: 1.5rem;
		font-weight: bold;
		color: #e74c3c;
		margin-top: 20px;
	}
}
